<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            height: auto;
            width: auto;
            font-family: monospace;
            background-image: linear-gradient(to left, #675FA6, #50404D);
        }

        .content {
            color: white;
            text-decoration: none;
        }

        .heading {
            font-size: 40px;
        }

        a {
            color: white;
            text-decoration: none;
        }

        .img {
            padding-top: 30px;
        }

        .link {
            font-size: 20px;
        }

        .date-time {
            font-size: 20px;
        }
    </style>
    <title>Jinja Assignment </title>
</head>

<body>
    <div class="content" align="center">
        <div class="heading">
            <h1>Sample Page</h1>
        </div>
        <div class="date-time">
            <p><b>Today is: {{date_html}}<sup>{{sup_html}}</sup> {{mon_year_html}} {{day_html}} {{time_html}}</b></p>
        </div>
        <div class="img">
            <img src="https://i.pravatar.cc/300" alt="" height="400px"><br><br><br>
        </div>
        <div class="link">
            <p><a href="https://picsum.photos/">Click this link to get a random image</a></p>
        </div>
    </div>
</body>

</html>